@function calc_top($value1, $value2) {
  @return $value1 * $value2;
}



$cnt: 34;

@for $i from 1 through 150 {

	.option:nth-child(#{$i}):hover ~ .option-bg {
		top: $cnt * $i - 34px;
		background-color: #417BBF;
		border-radius: 4 4px 0 0;
	}
}
@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';

